.device-card-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 1rem; /* Add some gap between cards */
}

.device-card {
 flex: 1 1 calc(25% - 1rem); /* Adjust the percentage to fit the layout */
 min-width: 250px; /* Ensure a minimum width */
 max-width: 300px; /* Ensure a maximum width */
 height: 300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 text-decoration: none;
 color: inherit;
 overflow: hidden;
 padding: 10px;
 box-sizing: border-box;
 transition: transform 0.2s ease-in-out;
}

.device-card:hover {
 transform: scale(1.05); /* Optional: Add a hover effect */
}

.device-card .card-body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 10px;
 text-align: center;
 overflow: hidden;
}

.device-card .card-title {
 margin: 10px 0;
 font-size: 1.25rem;
 font-weight: bold;
}

.device-card .card-text {
 margin: 5px 0;
 font-size: 1rem;
 text-align: center;
 word-wrap: break-word;
}

.device-card .card-text small {
 color: #666;
}

.card-text {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 max-width: 80%;
}
