.privateLayout {
 display: flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 height: 100vh;
 width: 100%;
}

.privateLayout .card {
 padding: 20px;
 border-radius: 8px;
}

.privateLayout .layout_content {
 height: 100%;
 width: 100%;
}