.container-info-extras {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: var(--secondary-background-color);
  border-radius: 10px;
  box-shadow: 0 6px 12px var(--shadow-color);
}


.container-info-extras .form-control {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container-info-extras .btn-primary {
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.container-info-extras .btn-primary:hover {
  background-color: var(--link-hover-color);
}

.container-info-extras .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
