@import url("../../../styles/colorPalette.css");

.card-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: var(--light-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.chat-comments {
  flex-grow: 1;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse; 
}

.comment {
  padding: 12px;
  margin: 5px 0;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.logged-in-user {
  background-color: var(--tertiary-color);
  color: var(--font-color);
  align-self: flex-end;
}

.other-user {
  background-color: var(--secondary-color); /* Color para mensajes de otros usuarios */
  color: var(--font-color);
  align-self: flex-start;
}

.system {
  background-color: var(--system-color);
  color: var(--heading-font-color);
  text-align: center;
  font-style: italic;
  align-self: center;
}

.comment p {
  margin: 0;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.comment:hover .delete-btn {
  display: inline-block;
}

.comment-input {
  display: flex;
  gap: 10px;
}

.comment-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.comment-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.comment-input button:hover {
  background-color: var(--button-hover-color);
}