/* Styles for the layout */
.layout_content {
 padding-top: 56px; /* Altura de la navbar */
}

/* Fixed navbar for mobile view */
.navbar.fixed-top {
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1030; /* Ensure it is above other content */
}

/* Adjustments for mobile view */
@media (max-width: 767px) {
 .layout_content {
   padding-top: 56px; /* Ensure content doesn't overlap with the navbar */
 }
}
