
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  background: linear-gradient(0deg, rgba(115,171,255,1) 0%, rgba(151,201,255,1) 50%, rgba(215,235,255,1) 100%);
  background-size: cover; /* Ensure the background covers the whole area */
}
