.layout_content {
  padding-top: 56px;
  overflow: auto;
  height: 100%;
}

.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

@media (max-width: 767px) {
  .layout_content {
    padding-top: 56px; 
  }
}