
.navbar {
 background-color: rgba(255, 255, 255, 0.923);
 padding: 0.5rem;
 font-size: calc(0.5em + 0.5vw);
}

.nav-link .MuiSvgIcon-root {
 width: 20px;
 height: 20px;
 margin: 0.25rem;
}

.nav-link:hover {
 border-color: aqua;
}