
.navbar {
 background-color: rgba(255, 255, 255, 0.923);
 padding: 1rem;
 font-size: calc(0.5em + 0.5vw);
}

.nav-link .MuiSvgIcon-root {
 width: 30px;
 height: 30px;
}

.nav-link:hover {
 border-color: aqua;
}