@import url("../../../styles/colorPalette.css");

.container-devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  color: var(--font-color);
  padding: 1rem;
}

.pagination-container {
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 1rem 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--secondary-background-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--shadow-color);
  border: 1px solid var(--border-color);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
}